# === Python Virtual Environments ===
peft_env/
.venv/
env/
venv/

# === Python cache & build files ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/


# === Logs & Experiment Tracking ===
logs/
wandb/
*.log
*.out


# === IDEs and Editors ===
.idea/
.vscode/
*.swp

# === System Files ===
.DS_Store
Thumbs.db

# === Other ===
output/
.cache/
results.json